// Backend library

// Colors
$wpBackendColorMain: #0073aa;
$wpBackendColorMainHover: #00a0d2;
$wpBackendColorButtonPrimaryBg: #0085ba;
$wpBackendColorButtonPrimaryHoverBg: #008ec2;
$wpBackendColorDelete: #a00;
$wpBackendColorDeleteHover: red;

$wpBackendColorInputBorder: #ddd;
$wpBackendColorInputFocusBorder: #5b9dd9;

$lbwpAdminMediumBreakpoint: 'screen and (max-width:782px)';


@mixin wpBackendInput($includeFocus:true) {
	border: 1px solid $wpBackendColorInputBorder;
	@include box-shadow(inset 0 1px 2px rgba(0,0,0,.07));
	@if ($includeFocus) {
		&:focus {
			@include wpBackendInputFocus;
		}
	}
}

@mixin wpBackendInputFocus() {
	border-color: $wpBackendColorInputFocusBorder;
	@include box-shadow(0 0 2px rgba(30,140,190,.8));
}

@mixin wpBackendBold() {
	font-weight: 600;
}