// responsive iframe content
.lbwp-iframe-container {
	position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
	&.ratio-16x9 {
		padding-bottom: 56.25%;
	}
	&.ratio-4x3 {
		padding-bottom: 75%;
	}
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

// share buttons
.lbwp-share-buttons ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.lbwp-share-buttons li {
	float: left;
	margin: 0 15px 0 0;
	height: 25px;
}
.lbwp-share-buttons {
	margin-bottom:15px;
}
.lbwp-share-buttons:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.lbwp-share-buttons .social-button-googleplus {
	width:80px;
}

@media (max-width: 767px) {
	.lbwp-share-buttons li {
		width: 49%;
		margin: 0 1% 3% 0;
	}
}

@media print {
	.lbwp-share-buttons {
		display: none;
	}
}

/* TODO remove, once obsolete: plugin really simple share buttons */

div.really_simple_share div {
	padding-left: 0;
}

/* fix */
div.really_simple_share .fb-like {
	z-index: 1;
}

@media only screen and (max-width: 64em) {
	div.really_simple_share div {
		float: none;
		margin-bottom: 10px;
	}
}
