@import "compass/css3";

$lbwpFormValidationColorError: red;
@import "lbwp/lbwp-forms";

.lbwp-form {

	// labels: default for mobile (full-width)
	.default-label {
		display: block;
		margin: 20px 0 5px;
	}

	.send-button .default-container {
		margin: 20px 0 0;
	}

	// checkboxes and radios
	@include lbwpFormRadioAndCheckboxDefaults;

	// zip and city input
	input[type="text"].zip-field-part {
		display: inline-block;
		width: 22%;
	}

	input[type="text"].city-field-part {
		display: inline-block;
		width: 75%;
		float: right;
	}

}

// input fields
@include lbwpFormInputFieldStyles() {
	width: 100%;
}

// For medium and larger screens: Display forms in a table layout, except for those with the class "lbwp-form-no-table-layout"
@media only screen and (min-width: 641px) {
	@include lbwpFormTableLayout(false, '.lbwp-form:not(.lbwp-form-no-table-layout)');
}

// overwrite table-layout for forms in widgets
@media only screen {
	.lbwp-form-widget {
		@include lbwpFormTableLayout($reset: true);
	}
}

// validation
.lbwp-form {
	// error message "row"
	.validate-message {
		// default label is empty for validate-message-rows, reset margin (for mobile)
		.default-label {
			margin: 0;
		}
		.default-container {
			padding-top: 0;
		}
	}

	.lbwp-form-error {
		.default-container {
			padding-bottom: 5px;
		}
	}
}

// Ancor for messages with default top offset
@include lbwpFormSetAnchorTopGap() {
	display: block;
	visibility: hidden;
}

@include lbwpFormInputFieldErrorStyles() {
	border-color: $lbwpFormValidationColorError;
}

// TODO move to highwind theme?
/* Fix for the highwind theme that uses EM for paddings */
.outer-wrap .content-wrapper .lbwp-form-override input[type="text"],
.outer-wrap .content-wrapper .lbwp-form-override input[type="password"],
.outer-wrap .content-wrapper .lbwp-form-override input[type="email"],
.outer-wrap .content-wrapper .lbwp-form-override input[type="search"],
.outer-wrap .content-wrapper .lbwp-form-override textarea {
	padding: 6px 10px 6px 10px !important;
}