@import "compass/css3";
@import "lib";
//todo activate chosen styles
@import "chosen";

.mbh-item-normal, .mbh-item-full {
  width: 100%;
  padding: 3px 0px 2px 0px;
  box-sizing: border-box;
}

.mbh-item-normal:before, .mbh-item-full:before,
.mbh-item-normal:after, .mbh-item-full:after {
  content: " "; display: table;
}
.mbh-item-normal:after, .mbh-item-full:after {
  clear: both;
}
.mbh-title {
  @include wpBackendBold;
}
.mbh-title label a {
  font-weight: normal;
}
.mbh-title .required {
  font-weight: bold;
  color: #CC0000;
}
.mbh-item-normal .mbh-title {
  width: 25%;
  float: left;
  padding: 4px 0px 0px 0px;
}
.mbh-item-normal .mbh-field {
  width: 75%;
  float: left;
}
/* the editor is not very responsive... rearrange it a bit */
@media (max-width: 1160px) {
  .mbh-item-normal .mbh-field.editor {
    width: 100%;
    clear: left;
  }
}

#side-sortables .mbh-item-normal .mbh-title,
#side-sortables .mbh-item-normal .mbh-field {
  width: 100%;
}
#side-sortables .mbh-item-normal .mbh-title {
	margin-bottom:5px;
}
.mbh-item-normal h4 {
  font-size: 14px;
  margin: 5px 0px 5px 0px;
}
.mbh-item-normal p {
  margin: 0px 0px 5px 0px;
}
.mbh-item-full .mbh-title {
  width: 100%;
  margin: 0px 0px 5px 0px;
}
.mbh-item-full .mbh-field {
  width: 100%;
  margin-left: -3px;
}
.mbh-description {
  margin: 0px 0px 0px 5px;
  color: #444444;
  font-style: italic;
}
.mbh-error-list {
  list-style: square;
  background-color: #FFBBBB;
  border: 1px solid #AA0000;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 5px 0px 5px 0px;
}
.mbh-error-list li {
  margin: 3px 0px 3px 25px;
}

.mbh-item-normal.list .mbh-input {
  overflow-y: scroll;
  background: #FFFFFF;
  border: 1px solid #DFDFDF;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-sizing: border-box;
  padding: 0 0 3px 5px;
  width: 99.99%; /* chrome display bug */
}

.mbh-item-normal.list .mbh-input::-webkit-scrollbar {
  -webkit-appearance: none;
}

body .mbh-type-dropdown-inline {
	max-width:200px;
	height:27px;
	padding:0px;
	vertical-align: top;
}

.mbh-item-normal.list .mbh-input::-webkit-scrollbar:vertical {
  width: 11px;
}

.mbh-item-normal.list .mbh-input::-webkit-scrollbar:horizontal {
  height: 11px;
}

.mbh-item-normal.list .mbh-input::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
}

.mbh-item-normal.list .mbh-input::-webkit-scrollbar-track {
  background-color: #FFFFFF;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.mbh-input input[type="checkbox"],
.mbh-input input[type="radio"] { float: left; margin-top: 5px; clear: left; }
.mbh-input input[type="checkbox"] + label,
.mbh-input input[type="radio"] + label { float: left; padding-top: 4px; box-sizing: border-box; padding-left: 5px; }
.mbh-input { float: left; width: 100%; padding-bottom: 3px; }
.mbh-datefield { width: 120px; background-image: url('../images/icons/date.png'); background-position: 97% 50%; background-repeat: no-repeat; }
.mbh-timefield { width: 60px; }
.mbh-field.wide { width: 70%; float: left; margin-left: 2.5%; }
.mbhRemoveMedia { float: right; }

.mbh-field .chosen-container-multi .chosen-choices li.search-choice.has-link-action {
  padding-right: 32px;
}

.mbh-field .chosen-container-multi .chosen-choices li.search-choice .search-choice-link {
  position: absolute;
  top: 4px;
  right: 15px;
  display: block;
  width: 12px;
  height: 12px;
  background: url(../images/icons/edit.png);
  font-size: 1px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
    background-position: -42px -10px;
}

.chosen-choices li.search-choice .search-choice-link, .chosen-choices li.search-choice .search-choice-close { -webkit-transition-property: none; -moz-transition-property: none; transition-property: none; }
.mbh-field .chosen-container-multi .chosen-choices li.search-choice .search-choice-link:hover {
  background-position: 12px 0px;
}

.mbh-field .chosen-container-multi .chosen-choices li.search-field input[type=text] {
  height: 25px;
}

#mbh-assign-posts-container { padding: 20px 0px 5px 0px; float: left; width: 100%; }
#mbh-assign-posts-container .mbh-assigned-post-item:nth-child(odd) { background-color: #FFFFFF; }
#mbh-assign-posts-container .mbh-assigned-post-item:nth-child(even) { background-color: #EEEEEE; }
#mbh-assign-posts-container .mbh-assigned-post-item { cursor: move; overflow: auto; clear: both; padding: 8px; border-bottom: 1px solid #DDDDDD; }
#mbh-assign-posts-container .mbh-assigned-post-item .post-id { cursor: move; float: left; width: 10%; }
#mbh-assign-posts-container .mbh-assigned-post-item .post-title { float: left; width: 70%; }
#mbh-assign-posts-container .mbh-assigned-post-item .delete-link { cursor: pointer; display: block; float: left; width: 10%; }

.image-chooser {
	float: left;
	width: 150px;
	margin: 0 10px 10px 0;
	padding: 5px;
	border: 1px solid #e5e5e5;
}

.image-chooser .image-option {
	padding-top: 10px;
}

.image-chooser input[type="radio"] {
	margin: 0 2px 0 0;
}

.ui-autocomplete li {
	padding: 5px;
}

.ui-autocomplete li:nth-child(odd) {
	background: white;
}

.ui-autocomplete li.ui-state-focus {
	color:#999;
	cursor: pointer;
}

#lbwp-nl__newsletter-items #newAssignedItem {
	width: 78% !important;
}

#metaboxHelperContainer {
	display: none;
	position:fixed;
	top: 50px;
	right: 0;
	left: 0;
	bottom: 20px;
	width:80%;
	margin: auto;
	z-index:10010;
	/* styling of the box */
	border:1px solid #333;
	padding:0px;
	background-color:#F1F1F1;
	& > iframe {
		height: 100%;
		body {
			padding-bottom: 100px;
		}
	}
}

// Quick (and dirty): Platz machen für das Chosen Dropdown am Ende des Iframes (im Modal)
body.modal-backend.post-type-onepager-item #wpwrap {
	padding-bottom: 200px;
}

#metaboxHelperContainer .dashicons-no-alt {
	position: absolute;
	right: -40px;
	top: 0;
	background: white;
	font-size: 30px;
	height: 30px;
	width: 30px;
	line-height: 1;
	padding: 0;

}

.media-modal-backdrop-mbh {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 360px;
	background: #000;
	opacity: .7;
	z-index: 10000;
}

.add-new-dropdown-item {
	border:1px solid #DFDFDF;
	border-radius: 3px;
	background-image: none;
	margin-top:10px;
	margin-bottom:10px;
	padding:5px 14px;
}

.add-new-dropdown-item label {
	display: inline-block;
	margin: -3px 10px 0px 0px;
	padding-top: 0px;
	font-style: italic;
}


.add-new-dropdown-item input {
	min-width: 200px;

	@media #{$lbwpAdminMediumBreakpoint} {
		width: 100%;
		min-width: auto;
	}

}

.add-new-dropdown-item input.error {
	border-color:#cc0000;
	background-color:rgba(150,80,80,0.1)
}

.mbh-generic-table {
	margin:0px;
	padding:0px;
	width: 100%;
}
.mbh-generic-table th {
	text-align:left;
	font-weight:bold;
	padding:2px;
	margin:0px;
}
.mbh-generic-table td {
	padding:2px;
	margin:0px;
}
.mbh-generic-table tr {
	border-bottom:1px solid #aaa;
}
.mbh-generic-table tr:nth-child(odd) {
	background-color:#ffffff;
}
.mbh-generic-table tr:nth-child(even) {
	background-color:#eeeeee;
}
.mbh-item-normal .item-type {
	padding:3px 0px;
}

.mbh-title-line {
	h3 {
		position: relative;
		text-align: left;
		margin:20px 0px 10px 0px;
	}
	h3 span {
		background: #fff;
		padding: 0 15px 0 0;
		position: relative;
		z-index: 1;
	}
	h3:before {
		background: #ddd;
		content: "";
		display: block;
		height: 1px;
		position: absolute;
			top: 50%;
		width: 100%;
	}
	h3:before {
		left: 0;
	}
}
