/* line 5, ../scss/table-editor/app.scss */
.settings-container {
  width: 100%;
  overflow: auto;
  padding: 0px 0px 20px 0px;
}
/* line 12, ../scss/table-editor/app.scss */
.settings-container.bottom {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  border-bottom: 0px none;
}
/* line 20, ../scss/table-editor/app.scss */
.settings-container .setting-block {
  width: 70%;
  float: left;
}
/* line 24, ../scss/table-editor/app.scss */
.settings-container .setting-block .setting-label {
  padding: 5px 0px;
  width: 100px;
  float: left;
}
/* line 30, ../scss/table-editor/app.scss */
.settings-container .setting-block .setting-container {
  margin-bottom: 5px;
}
/* line 32, ../scss/table-editor/app.scss */
.settings-container .setting-block .setting-container select {
  width: 250px;
}
/* line 40, ../scss/table-editor/app.scss */
.settings-container .button-block {
  float: right;
}

/* line 46, ../scss/table-editor/app.scss */
.data-containers textarea {
  display: none;
}

/* line 51, ../scss/table-editor/app.scss */
.cell-options {
  visibility: hidden;
}
/* line 53, ../scss/table-editor/app.scss */
.cell-options a {
  cursor: pointer;
  display: inline;
}

/* line 65, ../scss/table-editor/app.scss */
.responsive-table {
  border-spacing: 0;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
/* line 72, ../scss/table-editor/app.scss */
.responsive-table .dashicons {
  cursor: pointer;
}
/* line 76, ../scss/table-editor/app.scss */
.responsive-table .cell-content p,
.responsive-table .cell-content ul {
  margin: 0px;
}
/* line 82, ../scss/table-editor/app.scss */
.responsive-table .row-settings-cell, .responsive-table .empty-settings-cell {
  max-width: 50px;
  width: 50px;
  min-width: 50px;
}
/* line 87, ../scss/table-editor/app.scss */
.responsive-table .row-settings-cell, .responsive-table .empty-settings-cell {
  border-right-color: #bbb;
}
/* line 90, ../scss/table-editor/app.scss */
.responsive-table .col-settings-cell, .responsive-table .empty-settings-cell {
  border-bottom-color: #bbb;
}
/* line 94, ../scss/table-editor/app.scss */
.responsive-table td {
  padding: 4px;
  margin: 0px;
  min-width: 150px;
  background-color: #ffffff;
  vertical-align: top;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
/* line 105, ../scss/table-editor/app.scss */
.responsive-table td.borderTypeRight--bd-fixed {
  border-right: 1px solid #ddd;
}
/* line 108, ../scss/table-editor/app.scss */
.responsive-table td.borderTypeBottom--bd-fixed {
  border-bottom: 1px solid #ddd;
}
/* line 111, ../scss/table-editor/app.scss */
.responsive-table td.borderTypeRight--bd-fixed-fat {
  border-right: 2px solid #ddd;
}
/* line 114, ../scss/table-editor/app.scss */
.responsive-table td.borderTypeBottom--bd-fixed-fat {
  border-bottom: 2px solid #ddd;
}
/* line 117, ../scss/table-editor/app.scss */
.responsive-table td.borderTypeRight--bd-dotted {
  border-right: 1px dotted #ddd;
}
/* line 120, ../scss/table-editor/app.scss */
.responsive-table td.borderTypeBottom--bd-dotted {
  border-bottom: 1px dotted #ddd;
}
/* line 123, ../scss/table-editor/app.scss */
.responsive-table td.borderTypeRight--bd-none {
  border-right: 0px none;
}
/* line 126, ../scss/table-editor/app.scss */
.responsive-table td.borderTypeBottom--bd-none {
  border-bottom: 0px none;
}
/* line 129, ../scss/table-editor/app.scss */
.responsive-table td.backgroundColor--primary {
  background-color: #f4f4f4;
}

/* line 135, ../scss/table-editor/app.scss */
.modal-container-generic {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: -10000px;
  width: 70%;
  height: 500px;
  margin: auto;
  z-index: 10010;
  border: 1px solid #333;
  padding: 10px 20px;
  background-color: #F1F1F1;
}
/* line 149, ../scss/table-editor/app.scss */
.modal-container-generic .button-primary {
  position: absolute;
  top: 20px;
  right: 20px;
}
/* line 155, ../scss/table-editor/app.scss */
.modal-container-generic .button-close {
  position: absolute;
  right: -40px;
  top: 0;
  background: white;
  font-size: 30px;
  height: 30px;
  width: 30px;
  line-height: 1;
  padding: 0;
}
/* line 167, ../scss/table-editor/app.scss */
.modal-container-generic h1 {
  margin-bottom: 10px;
}
/* line 171, ../scss/table-editor/app.scss */
.modal-container-generic .generic-setting {
  margin-bottom: 10px;
}

/* line 177, ../scss/table-editor/app.scss */
#editor-container {
  padding-top: 65px;
}

/* line 186, ../scss/table-editor/app.scss */
.responsive-table tr:nth-child(2) .row-move-up {
  display: none;
}
/* line 191, ../scss/table-editor/app.scss */
.responsive-table tr:last-child .row-move-down {
  display: none;
}

/* line 199, ../scss/table-editor/app.scss */
.first-settings-row td:nth-child(2) .column-move-left {
  display: none;
}
/* line 204, ../scss/table-editor/app.scss */
.first-settings-row td:last-child .column-move-right {
  display: none;
}

/* line 209, ../scss/table-editor/app.scss */
.col-settings-cell {
  text-align: center;
}

/* line 213, ../scss/table-editor/app.scss */
.column-settings {
  float: left;
}

/* line 218, ../scss/table-editor/app.scss */
.row-settings-cell a[class*="row-move"] {
  padding: 5px 0;
}

/* line 223, ../scss/table-editor/app.scss */
.settings-cell {
  padding-left: 8px;
  padding-right: 8px;
}
/* line 227, ../scss/table-editor/app.scss */
.settings-cell .dashicons {
  color: #ccc;
}
/* line 233, ../scss/table-editor/app.scss */
.settings-cell:hover .dashicons {
  color: #333;
}
/* line 235, ../scss/table-editor/app.scss */
.settings-cell:hover .dashicons:hover {
  color: #00a0d2;
}
/* line 241, ../scss/table-editor/app.scss */
.settings-cell .column-delete {
  float: right;
}
/* line 245, ../scss/table-editor/app.scss */
.settings-cell .row-settings, .settings-cell .row-delete {
  display: block;
}
