/* line 4, ../scss/table-editor/app.scss */
.settings-container {
  width: 100%;
  overflow: auto;
  border-bottom: 1px solid #ccc;
  padding: 0px 0px 15px 0px;
  margin-bottom: 20px;
}
/* line 11, ../scss/table-editor/app.scss */
.settings-container.bottom {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  border-bottom: 0px none;
}
/* line 19, ../scss/table-editor/app.scss */
.settings-container .setting-block {
  width: 70%;
  float: left;
}
/* line 23, ../scss/table-editor/app.scss */
.settings-container .setting-block .setting-label {
  padding: 5px 0px;
  width: 100px;
  float: left;
}
/* line 29, ../scss/table-editor/app.scss */
.settings-container .setting-block .setting-container select {
  width: 250px;
}
/* line 35, ../scss/table-editor/app.scss */
.settings-container .button-block {
  float: right;
}

/* line 41, ../scss/table-editor/app.scss */
.data-containers textarea {
  display: none;
}

/* line 46, ../scss/table-editor/app.scss */
.cell-options {
  visibility: hidden;
}
/* line 48, ../scss/table-editor/app.scss */
.cell-options a {
  cursor: pointer;
  display: inline;
}

/* line 60, ../scss/table-editor/app.scss */
.responsive-table {
  border-spacing: 0;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
/* line 67, ../scss/table-editor/app.scss */
.responsive-table .dashicons {
  cursor: pointer;
}
/* line 71, ../scss/table-editor/app.scss */
.responsive-table .cell-content p,
.responsive-table .cell-content ul {
  margin: 0px;
}
/* line 77, ../scss/table-editor/app.scss */
.responsive-table .row-settings-cell, .responsive-table .empty-settings-cell {
  max-width: 50px;
  width: 50px;
  min-width: 50px;
}
/* line 82, ../scss/table-editor/app.scss */
.responsive-table .row-settings-cell, .responsive-table .empty-settings-cell {
  border-right-color: #bbb;
}
/* line 85, ../scss/table-editor/app.scss */
.responsive-table .col-settings-cell, .responsive-table .empty-settings-cell {
  border-bottom-color: #bbb;
}
/* line 89, ../scss/table-editor/app.scss */
.responsive-table td {
  padding: 4px;
  margin: 0px;
  min-width: 150px;
  background-color: #ffffff;
  vertical-align: top;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
/* line 101, ../scss/table-editor/app.scss */
.responsive-table td.borderTypeRight--bd-fixed {
  border-right: 1px solid #ddd;
}
/* line 104, ../scss/table-editor/app.scss */
.responsive-table td.borderTypeBottom--bd-fixed {
  border-bottom: 1px solid #ddd;
}
/* line 107, ../scss/table-editor/app.scss */
.responsive-table td.borderTypeRight--bd-fixed-fat {
  border-right: 2px solid #ddd;
}
/* line 110, ../scss/table-editor/app.scss */
.responsive-table td.borderTypeBottom--bd-fixed-fat {
  border-bottom: 2px solid #ddd;
}
/* line 113, ../scss/table-editor/app.scss */
.responsive-table td.borderTypeRight--bd-dotted {
  border-right: 1px dotted #ddd;
}
/* line 116, ../scss/table-editor/app.scss */
.responsive-table td.borderTypeBottom--bd-dotted {
  border-bottom: 1px dotted #ddd;
}
/* line 119, ../scss/table-editor/app.scss */
.responsive-table td.backgroundColor--primary {
  background-color: #f4f4f4;
}

/* line 125, ../scss/table-editor/app.scss */
.modal-container-generic {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: -10000px;
  width: 70%;
  height: 500px;
  margin: auto;
  z-index: 10010;
  border: 1px solid #333;
  padding: 0px;
  background-color: #F1F1F1;
}
