$lbwpFancyBoxSkinBgColor: null !default;
$lbwpFancyBoxSkinFontColor: null !default;
$lbwpFancyBoxFontColorLegend : null !default;

$lbwpFancyBoxBackgroundArrowLeft: null !default;
$lbwpFancyBoxBackgroundArrowRight: null !default;

div.fancybox-skin {
	background: $lbwpFancyBoxSkinBgColor;
	color: $lbwpFancyBoxSkinFontColor;
}

a.fancybox-nav span{height: 54px;}
a.fancybox-prev span{background: $lbwpFancyBoxBackgroundArrowLeft;}
a.fancybox-next span{background: $lbwpFancyBoxBackgroundArrowRight;}

div.fancybox-title-float-wrap{position: relative; margin: 15px 0 0; right: 0; text-align: left;}
div.fancybox-title-float-wrap .child {
	background: none;
	text-shadow: none;
	text-align: left;
	width: 75%;
	margin-right: 0;
	white-space: normal;
	padding-left: 0;
	color: $lbwpFancyBoxSkinFontColor;
}

.fancybox-wrap .pagination {
	position: absolute;
	right: 0;
	bottom: 0;
	color: $lbwpFancyBoxFontColorLegend;
}