$lbwpSearchApiDefaults: true !default;

$lbwpSearchApiContainerSelector: '.lbwp-gss-results' !default;
$lbwpSearchApiContainerMargin: null !default;

$lbwpSearchApiItemSelector: '.list-item' !default;
$lbwpSearchApiItemMarginVertically: null !default;
$lbwpSearchApiItemBg: null !default;

$lbwpSearchApiItemImageSelector: '.article-image' !default;
$lbwpSearchApiItemImageWidth: null !default;

$lbwpSearchApiItemHeadingSelector: 'h3' !default;
$lbwpSearchApiItemHeadingFontSize: null !default;
$lbwpSearchApiItemHeadingLineHeight: null !default;

$lbwpSearchApiItemShortTextSelector: 'p' !default;

$lbwpSearchApiUseListingDefaults: false !default;
$lbwpSearchApiUseTileDefaults: false !default;

@mixin lbwpSearchApi() {
	#{$lbwpSearchApiContainerSelector} {
		@content;
	}
}

@mixin lbwpSearchApiTextAncor() {
	#{$lbwpSearchApiContainerSelector} {
		#{$lbwpSearchApiItemShortTextSelector} {
			a {
				@content;
			}
		}
	}
}

@mixin lbwpSearchApiHeading() {
	#{$lbwpSearchApiItemHeadingSelector} {
		@content;
	}
}


#{$lbwpSearchApiContainerSelector} {
	// Defaults
	@if ($lbwpSearchApiDefaults) {
		p {
			margin-bottom: 0;
		}

		@include lbwpSearchApiHeading {
			margin: 0;
			padding: 0;
		}
	}

	// The list
	margin-bottom: $lbwpSearchApiContainerMargin;

	// The result item
	#{$lbwpSearchApiItemSelector} {
		background: $lbwpSearchApiItemBg;
		&:not(:first-child) {
			margin-top: $lbwpSearchApiItemMarginVertically;
		}
	}

	// The item image
	#{$lbwpSearchApiItemImageSelector} {
		width: $lbwpSearchApiItemImageWidth;
	}

	// The heading
	@include lbwpSearchApiHeading {
		font-size: $lbwpSearchApiItemHeadingFontSize;
		line-height: $lbwpSearchApiItemHeadingLineHeight;
	}
}

// Use listing defaults
@if ($lbwpSearchApiUseListingDefaults) {
	#{$lbwpSearchApiContainerSelector} {
		.has-post-thumbnail {
			@include lbwpClearfix;
			#{$lbwpSearchApiItemImageSelector} {
				float: left;
				margin-right: 10px;
				@if ($lbwpSearchApiItemHeadingLineHeight != null and $lbwpSearchApiItemHeadingFontSize != null) {
					margin-top: ($lbwpSearchApiItemHeadingLineHeight - $lbwpSearchApiItemHeadingFontSize) / 2;
				}
			}
		}

	}
}




