// Global lbwp settings/variables
$lbwpAdminBarHeight: 32px;
$lbwpWpColorMain: #0073aa;
$lbwpWpFontFamily: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;