// SCSS component
// Component «SearchApi»
// «LBWP» by comotive
// www.comotive.ch

@mixin lbwpSlickArrows($direction: null) {
	$directionClass: '.slick-arrow';
	@if ($direction != null) {
		@if ($direction == right) {
			$directionClass: '.slick-next';
		} @else if ($direction == left) {
			$directionClass: '.slick-prev';
		}
	}
	#{$directionClass} {
		@content;
	}
}

@mixin lbwpSlickSetPosition($position) {
	@include lbwpSlickArrows('left') {
		left: $position;
	}
	@include lbwpSlickArrows('right') {
		right: $position;
	}
}

@mixin lbwpSlickSetArrowSize($h, $w, $iconSize:null) {
	@include lbwpSlickArrows() {
		height: $h;
		width: $w;
		&:before {
			line-height: $h;
			font-size: $iconSize;
		}
	}
}

@mixin lbwpSlickArrowDefaults() {
		.slick-arrow {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    padding: 0;
		@include transform(translate(0, -50%));
    cursor: pointer;
    border: none;
    outline: none;
		z-index: 1;
	}
	.slick-next {
		right: 0;
	}
}

@mixin lbwpSlickPrintDefaults() {
	@media print {
		.slick-dots, .slick-arrow {
			display: none !important;
		}
	}
}
