/* line 3, scss/backend.scss */
body.modal-backend {
  margin-top: -32px;
}
/* line 7, scss/backend.scss */
body.modal-backend #wpadminbar, body.modal-backend #adminmenuback, body.modal-backend #adminmenuwrap, body.modal-backend .page-title-action,
body.modal-backend #view-post-btn, body.modal-backend #delete-action, body.modal-backend #wpfooter {
  display: none;
}
/* line 12, scss/backend.scss */
body.modal-backend .notice-success p a {
  display: none;
}
/* line 16, scss/backend.scss */
body.modal-backend #wpcontent {
  margin-left: 0px;
}
/* line 20, scss/backend.scss */
body.modal-backend #wpbody-content {
  padding-bottom: 0px;
}

/**
 * OLD SCHOOL SHIT
 */
/* line 29, scss/backend.scss */
ul.wp-submenu li a img {
  display: none;
}

/* fix chrom 45 rendering bug in menu */
/* line 32, scss/backend.scss */
#adminmenu {
  transform: translateZ(0);
}

/* page settings helper */
/* line 35, scss/backend.scss */
.lbwp-settings-page {
  max-width: 1000px;
}

/* line 36, scss/backend.scss */
.lbwp-settings-page .cfg-head {
  width: 950px;
}

/* line 37, scss/backend.scss */
.lbwp-settings-page .cfg-item {
  width: 950px;
  border-bottom: 1px solid #eee;
  list-style: none;
  overflow: auto;
  margin-bottom: 10px;
  padding: 0px 0px 5px 0px;
}

/* line 39, scss/backend.scss */
.cfg-item, .cfg-head {
  float: left;
}

/* line 40, scss/backend.scss */
.cfg-item .cfg-title {
  width: 250px;
  float: left;
  margin-top: 4px;
  font-weight: bold;
}

/* line 41, scss/backend.scss */
.cfg-item .cfg-field {
  width: 690px;
  float: left;
}

/* line 43, scss/backend.scss */
.cfg-field .cfg-description {
  width: 100%;
  padding: 5px 5px 0px 2px;
  font-size: 11px;
}

/* line 44, scss/backend.scss */
.cfg-field .cfg-field-number {
  width: 150px;
  background-color: #f8f8f8;
}

/* line 45, scss/backend.scss */
.cfg-field .cfg-field-text {
  width: 680px;
  background-color: #f8f8f8;
}

/* line 46, scss/backend.scss */
.cfg-field .cfg-field-textarea {
  width: 680px;
  height: 150px;
  background-color: #f8f8f8;
}

/* line 48, scss/backend.scss */
.cfg-field .cfg-checkbox {
  margin-left: 2px;
}

/* line 49, scss/backend.scss */
.cfg-field .cfg-text-rightof-input {
  width: 300px;
  margin-left: 7px;
  display: inline;
}

/* line 51, scss/backend.scss */
#lbwp-news ul li {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 15px;
}

/* line 52, scss/backend.scss */
#lbwp-news ul li:last-child {
  border-bottom: 0px none;
}

/* line 53, scss/backend.scss */
#slugdiv {
  display: none;
}

/* line 54, scss/backend.scss */
.dashicon-big {
  padding: 2px 6px 0px 0px !important;
  margin: 0px !important;
}

/* line 55, scss/backend.scss */
.dashicon-big:before {
  font-size: 24px;
  padding: 0px 4px 0px 4px;
}

/* line 56, scss/backend.scss */
.dashicon-snippets:before {
  font-size: 21px;
}

/* line 57, scss/backend.scss */
.generic-sortable li {
  cursor: move;
}

/* line 58, scss/backend.scss */
.simple-table-list {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  width: 50%;
}

/* line 59, scss/backend.scss */
.simple-table-list li {
  margin: 0px;
  padding: 10px;
}

/* line 60, scss/backend.scss */
.simple-table-list li:nth-child(even) {
  background-color: #FFFFFF;
}

/* line 61, scss/backend.scss */
.simple-table-list li:nth-child(odd) {
  background-color: #F9f9f9;
}

/* line 62, scss/backend.scss */
.piwik-logo {
  max-width: 100%;
}

/* fix some general wordpress bugs */
/* line 65, scss/backend.scss */
.wrap h2 .add-new-h2.primary {
  cursor: pointer;
  margin-left: 15px;
  background: #2ea2cc;
  border-color: #0074a2;
  color: #ffffff;
}

/* line 72, scss/backend.scss */
#poststuff h2.nav-tab-wrapper {
  padding: 0px;
  margin: 15px 0px 0px 0px;
}

/* line 73, scss/backend.scss */
#poststuff h2.nav-tab-wrapper a {
  cursor: pointer;
}

/* line 75, scss/backend.scss */
#dashboard-widgets .new-item {
  padding: 2px 8px 2px 8px;
  float: right;
  border-radius: 5px;
  background-color: #0074a2;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
}

/* Disable all custom sidebars pro feature ads */
/* line 87, scss/backend.scss */
.csb-pro-layer, .wpmui-tabs a[href="#tab-aut"], .cs-action.btn-export {
  display: none;
}

/* Disable Yoast and other plugins crappy messages */
/* line 89, scss/backend.scss */
.wpseo_content_cell #sidebar, .wpseo_content_cell #i18n_promo_box {
  display: none;
}

/* line 90, scss/backend.scss */
.yoast-ga-banners, .yoast-ga-content #i18n_promo_box, #onpage-tab, #wpseo-dismiss-about,
.yoast-ga-content #customdimensions-tab, #wpseo-dismiss-recalculate, #wpseo-dismiss-gsc,
.yoast-ga-content #debugmode-tab, #nav-tab-lingotek, .wpseo-tab-add-keyword,
.post-type-lbwp-snippet #wpseo_meta, .post-type-lbwp-form #wpseo_meta,
.post-type-lbwp-list #wpseo_meta, .post-type-lbwp-listitem #wpseo_meta,
.vc_license-activation-notice, #wpseo-dashboard-overview .onpage, .submitbox #wpseo-score,
#eml-options-media-tabs a:nth-child(4), #wpuxss-eml-form-taxonomies .postbox:nth-child(6),
.settings_page_afbia_settings_page .credits-container, #pll-module-wpml, #pll-module-share-slugs,
#pll-module-translate-slugs, .plugin-update-tr, #pll-module-licenses, .wpseo-make-primary-term,
.wpseo-is-primary-term {
  display: none !important;
}

/* Disable and fix nextscripts crap */
/* line 103, scss/backend.scss */
ul.nsx_tabs {
  margin-top: 20px !important;
}

/* menu manager */
/* line 106, scss/backend.scss */
.parent_page {
  font-weight: 700;
}

/* line 107, scss/backend.scss */
.parent_page select {
  width: 100%;
  margin-top: 5px;
  font-weight: 100;
}

/* line 108, scss/backend.scss */
.show_in_menu {
  padding: 10px 0;
}

/* line 109, scss/backend.scss */
.sibling_list {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #DFDFDF;
  padding: 0 5px 5px 5px;
  position: relative;
}

/* line 110, scss/backend.scss */
.sibling_list ul.menu {
  padding: 0 !important;
}

/* line 111, scss/backend.scss */
.sibling_list .menu-item-handle {
  width: auto !important;
}

/* line 112, scss/backend.scss */
.sibling_list .menu-item-settings {
  width: auto !important;
  padding: 6px 6px 8px 10px !important;
}

/* line 113, scss/backend.scss */
.sibling_list p.description-thin {
  width: 100% !important;
  margin: 0 !important;
}

/* line 114, scss/backend.scss */
.sibling_list .menu-item-handle .item-title {
  margin-right: 75px !important;
}
