// base helper for vertical menus
// map this on a parent selector of <ul>
@mixin lbwpHorizontalNav($fontSize:1rem,$ulAsChild:true) {
	$ulSelector: '&';
	@if ($ulAsChild) {
		$ulSelector: 'ul';
	}
	// fix the "space between inline block elements"
	#{$ulSelector} {
		margin: 0;
		padding: 0;
		font-size: 0;
	}
	li {
		display: inline-block;
		list-style-type: none;
	}
	a, span {
		font-size: $fontSize;
	}
}

// ***deprecated*** - use better lbwpHorizontalNav (without breakpoint parameter)
// base helper for vertical menus
// map this on <nav> element
@mixin lbwp-horizontal-nav($breakPoint,$fontSize:1rem) {
	@media #{$breakPoint} {
		// fix the "space between inline block elements"
		ul {
			margin: 0;
			font-size: 0;
		}
		li {
			display: inline-block;
			list-style-type: none;
		}
		a, span {
			font-size: $fontSize;
		}
	}
}

// to style a vertical, multi-layer menus
// target element -> <ul>
@mixin lbwp-vertical-nav(
	// general
	$indent: 5px,
	$itemHeight: 36px,
	$lineHeight: 18px,
	$marginBottom: 1px,
	$upperCase: false,

	// font and background
	$fontSize: 14px,
	$fontColor: white,
	$fontColorActive: black,
	$bgColor: #666,
	$bgColorActive: #999,

	// 2nd-level
	$indent2ndLevel: 20px,
	$itemHeight2ndLevel: 20px,
	$lineHeight2ndLevel: 20px,
	$marginBottom2ndLevel: 10px,

	// 2nd-level font and background
	$fontSize2ndLevel: rem-calc(12),
	$fontColor2ndLevel: #333,
	$fontColor2ndLevelActive: #333,
	$bgColor2ndLevel: #ccc,
	$bgColor2ndLevelActive: #aaa,

	$showChildsOfActiveItem: false,
	$breakpoint:"all",
	$activeClass:"current-menu-item",
	$activeParentClass:"current-menu-parent",

	// hover (options)
	$bgColorHover: $bgColorActive,
	$fontColorHover: $fontColorActive)
	{

	// calc vertical-paddings
	$verticalPadding: ( $itemHeight - $lineHeight ) / 2;
	$verticalPadding2ndLevel: ( $itemHeight2ndLevel - $lineHeight2ndLevel ) / 2;

	// reset for ul
	margin: 0;
	list-style-type: none;

	// generall settings
	li {
		&.#{$activeClass}, &.#{$activeParentClass} {
			& > a {
				cursor: default;
			}
		}
	}
	
	a {
		display: block;
		margin-bottom: $marginBottom;
		padding: $verticalPadding $indent;
		font-size: $fontSize;
		@if $upperCase {
			text-transform: uppercase;
		}
	}

	// 1st level
	li {
		a {
			background: $bgColor;
			color: $fontColor;
			&:hover,&:active {
				background: $bgColorHover;
				color: $fontColorHover;
			}
		}
		&.#{$activeClass}, &.#{$activeParentClass} {
			& > a {
				background: $bgColorActive;
				color: $fontColorActive;
			}
			@if $showChildsOfActiveItem {
				& > ul {
					display: block;
				}
			}
		}
		
		// 2nd level
		ul {
			@media #{$breakpoint} {
				display: none;
			}
			margin-bottom: $marginBottom2ndLevel;
			li {
				a {
					padding: $verticalPadding2ndLevel $indent2ndLevel;
					background: $bgColor2ndLevel;
					color: $fontColor2ndLevel;
					font-size: $fontSize2ndLevel;
					&:hover,&:active {
						background: $bgColor2ndLevelActive;
						color: $fontColor2ndLevelActive;
					}
				}
				&.#{$activeClass} {
					a {
						background: $bgColor2ndLevelActive;
						color: $fontColor2ndLevelActive;
					}
				}
			}
		}
	}

}