@import "lbwp/lib";
@import "lbwp/lbwp-forms";
@import "compass/css3";

$mobileFormLayout: "only screen and (max-width: 1078px)";
$tableFormLayout: "only screen and (min-width: 1079px)";
$iconSizeDefault: 24px;
$wpColorHighlight: #0074a2;

@mixin dashicon-edit($fontSize:$iconSizeDefault) {
	content: '\f464';
	font-family: dashicons;
	font-size: $fontSize;
}

@mixin dashicon-trash($fontSize:$iconSizeDefault) {
	content: '\f182';
	font-family: dashicons;
	font-size: $fontSize;
}

@mixin formItemBorder($borderWidth:1px) {
	$borderStyle: $borderWidth solid $wpColorHighlight;
	$borderRadius: 5px;
	@media #{$tableFormLayout} {
		.default-label {
			border-left: $borderStyle;
			border-top: $borderStyle;
			border-bottom: $borderStyle;
			border-top-left-radius: $borderRadius;
			border-bottom-left-radius: $borderRadius;
		}
		.default-container {
			border-right: $borderStyle;
			border-top: $borderStyle;
			border-bottom: $borderStyle;
			border-top-right-radius: $borderRadius;
			border-bottom-right-radius: $borderRadius;
		}
	}
	@media #{$mobileFormLayout} {
		border: $borderStyle;
		border-radius: $borderRadius;
	}
}

#editor-form-tab {
	@include lbwpClearfix;
}

// General styles of the form UI container
.form-editor-container {
	// Needed to be post page compatible
	float: left;
	width: 100%;

	// Save form button
	.save-form-button {
		float: right
	}

	// Make sure to hide all data containers
	.data-containers, .data-containers * {
		display: none;
	}

	// Container of all editor tabs
	.tab-container {
		// Make all tabs invisible at first
		.form-editor-tab {
			margin-top: 20px;
			display: none;
		}
	}
}

div.drag-target {
	border: 3px dashed #bbb;
}

.lbwp-form-preview,
.lbwp-action-list {
	transition: background .8s;
	border: 1px solid #dedede;
	background: #f5f5f5;
	padding: 20px;
	margin: 0 20px;
	& > p {
		padding: 0 5px;
	}
}

// Styles to make the boxes in a form tab
.form-editor-tab {

	ol {
		margin-left: 1.4em;
	}
	.help-message {
		font-size: 1.2em;
		text-align: center;
	}

	// show mobile form even on
	@media #{$mobileFormLayout} {
		@include lbwpFormTableLayout($reset: true);
	}

	.frame {
		float: left;

		&.frame-middle {

			.lbwp-action-list {
				height: 100%;
				.action-item {
					position: relative;
					cursor: pointer;
					margin-bottom: 10px;
					border: 1px solid #dfdfdf;
					padding: 10px 15px;
					background: #fafafa;
					-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
					-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
					box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
					width: 50%;
					margin: 0 auto 20px;
					&.selected {
						background: #2ea2cc;
						color: white;
						@include formItemBorder();
					}

					.delete, .edit {
						$iconSize: 25px;
						$iconFontSize: 20px;
						display: none;
						z-index: 10;
						width: $iconSize;
						height: $iconSize;
						background: #2ea2cc;
						@include border-radius(50%);
						color: white;
						line-height: $iconSize;
						text-align: center;
						font-size: $iconFontSize;
					}
					&:after {
						content: ".";
						font-size: 0;
						line-height: 0;
						display: block;
						position: absolute;
						width: 60px;
						height: 100%;
						left: 100%;
						top: 0;
					}
					&:hover {
						.delete, .edit {
							display: block;
						}
					}
				}
			}

		}

		.delete {
			width: 20px;
			height: 20px;
			cursor: pointer;
			display: block;
			position: absolute;
			top: 50%;
			margin-top: -10px;
			right: -60px;
		}
		.icon-invisible {
			width: 20px;
			height: 20px;
			cursor: pointer;
			display: block;
			position: absolute;
			top: 50%;
			margin-top: -10px;
			right: 10px;
		}
		.edit {
			width: 20px;
			height: 20px;
			cursor: pointer;
			display: block;
			position: absolute;
			top: 50%;
			margin-top: -10px;
			right: -30px;
		}
		.help, .edit-optin {
			width: 20px;
			height: 20px;
			cursor: pointer;
			display: block;
			position: absolute;
			top: 0px;
			right: 0px;
			&:hover {
				color: $wpColorHighlight;
			}
		}
		.edit-optin {
			right: 20px;
		}
		.helpText {
			display: none;
			color: #a9a9a9;
			margin-top: 5px;
		}
		.ref {
			width: 20px;
			height: 20px;
			cursor: pointer;
			display: block;
			position: absolute;
			bottom: 5px;
			right: 5px;
			color: inherit;
			&:hover {
				color: $wpColorHighlight;
			}
		}

		.field-invisible {
			background-color:#ececec;
		}

		.editor-trigger {
			float: right;
			span {
				text-decoration: none;
			}
		}

		&.frame-right {

			h3 {
				cursor: pointer;
				outline: none;
			}

			.button {
				margin-top: 10px;
			}

			label {
				vertical-align: initial;
			}

			.ui-accordion {
				& > h3 {
					position: relative;
					&:after {
						font: 400 20px/1 dashicons;
						content: '\f140';
						position: absolute;
						right: 10px;
						top: 7px;
					}

					&.ui-accordion-header-active {
						& + div + h3 {
							border-top: 1px solid #eee;
						}
						&:after {
							content: '\f142';
						}
					}
				}
			}
			.hndle-conditions, .field-conditions {
				display: none;
			}

		}

		.postbox {
			min-width: 0;
			position: relative;
			#reference {
				position: absolute;
				width: 90%;
				left: -40px;
				border: 1px solid #e5e5e5;
				-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
				box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
				background: #fff;
				padding: 12px;
				.close {
					position: absolute;
					top: 10px;
					right: 10px;
					cursor: pointer;
				}
				p {
					padding: 0 10px;
				}
				a {
					float: left;
					width: 50%;
					text-decoration: none;
					padding: 10px;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
					&:hover {
						background: #dedede;
					}
				}
			}
		}

		& .settings {
			border: 1px solid #dedede;
			background: #f5f5f5;
			padding: 20px;
			& p:first-of-type {
				margin-top: 0
			}
			& label {
				width: 250px;
				float: left;
				padding-top: 5px;
				vertical-align: middle;
				& input[type=text], & select {
					float: right;
				}
			}
			& label.checkbox-wrap {
				width: 100%;
				margin-left: 251px;
				padding: 15px 0px 10px 0px;
			}
			& input[type=text], textarea, select {
				width: 400px;
			}
		}
	}
}

// Overrides
body {
	#poststuff .frame {
		.inside {
			margin: 10px 0 0;
		}
	}
}

// form preview
.lbwp-form-preview {

	.lbwp-form {
		.field_email_to {
			display: none !important;
		}
	}

	@media #{$tableFormLayout} {
		.forms-item input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=button]):not(.zip-field-part):not(.city-field-part),
		.forms-item select, .forms-item textarea {
			width: calc(100% - 70px);
		}
	}

	@media #{$mobileFormLayout} {
		.forms-item {
			padding: 5px 10px 10px;
		}
	}

	.forms-item:not(.send-button) {
		label {
			cursor: move;
			&:active {
				cursor: none;
			}
		}

		&:hover {
			@include formItemBorder(0);
			background: #dfdfdf;
		}
		&.selected {
			&, &:hover {
				background: #2ea2cc;
				color: white;
				@include formItemBorder();
			}
		}

		.default-label {
			padding-left: 5px;
		}

		.default-container {
			position: relative;
			p {
				max-width: calc(100% - 70px);
			}
		}

		$iconSize: 25px;
		$iconFontSize: 20px;
		// edit icon as after element
		&:hover .default-container:after {
			width: $iconSize;
			height: $iconSize;
			background: #2ea2cc;
			@include border-radius(50%);
			color: white;
			line-height: $iconSize;
			text-align: center;
			display: block;
			position: absolute;
			top: 12px;
			right: 35px;
			cursor: pointer;
			@include dashicon-edit($iconFontSize);
			@media #{$mobileFormLayout} {
				top: -30px;
			}
		}

		.delete {
			margin: 0;
			top: 12px;
			right: 5px;
			width: $iconSize;
			height: $iconSize;
			background: #2ea2cc;
			@include border-radius(50%);
			color: white;
			line-height: $iconSize;
			text-align: center;
			font-size: $iconFontSize;
			@media #{$mobileFormLayout} {
				top: -30px;
			}
		}
		&.selected {
			&:hover .default-container:after, .delete {
				background: white;
				color: #2ea2cc;
			}
		}

		&.ui-sortable-helper {
			&:after {
				display: none;
			}
			.delete {
				display: none;
			}
		}

		@media #{$tableFormLayout} {

			&.radio-field, &.checkbox-field {
				// "Placeholder" for icons
				.default-container {
					padding-right: 70px;
				}
			}

			// Fix for zip/city fieldtype
			.city-field-part {
				width: calc(77% - 70px);
				float: none;
			}
		}
	}
}

// items to choose from the left
.draggable-item {
	margin-bottom: 7px;
	border: 1px solid #dfdfdf;
	padding: 6px 10px;
	background: #fafafa;
	@include box-shadow(0 1px 1px rgba(0, 0, 0, .04));
	cursor: move;
	&:hover {
		border-color: #999;
	}
	&:last-child {
		margin-bottom: 0;
	}
	font-size: 12px;
	strong {
		font-size: 14px;
	}
}

// edit fields
.lbwp-editField {
	display: block;
	margin-bottom: 20px;
	width: 100%;
	position: relative;
	label {
		font-weight: bold;
		display: block;
		margin-bottom: 5px;
		padding-right: 25px;
		&.radio {
			display: inline-block;
			padding-right: 15px;
		}
	}
	input[type="text"], textarea {
		width: 100%;
	}
	textarea {
		min-height: 100px;
		max-height: 300px;
	}
	.textfieldArray {
		position: relative;
		margin-bottom: 5px;
		.delete {
			right: 25px;
			margin-top: -10px !important;
		}
		.drag {
			width: 20px;
			height: 20px;
			display: block;
			position: absolute;
			cursor: move;
			top: 50%;
			margin-top: -10px;
			right: 0px;
		}
		.drag:active {
			cursor: none;
		}
		input[type="text"] {
			width: calc(100% - 50px);
		}
		.dashicons {
			&:hover {
				color: $wpColorHighlight;
			}
		}
	}
	&.action-property {
		input {
			padding-right: 30px;
		}
	}
}

$lbwpFormEditorScrollBarWith: 25px;

// defaults
$lbwpFormEditorLeftColumnWidth: 300px;
$lbwpFormEditorRightColumnWidth: 500px;
$lbwpFormEditorFullWidth: 100%;

$lbwpFormEditorMiddleColumnWidth: calc(100% - #{$lbwpFormEditorLeftColumnWidth + $lbwpFormEditorRightColumnWidth});

.frame-full {
	max-width: $lbwpFormEditorFullWidth;
	width: $lbwpFormEditorFullWidth;
}

.frame-left {
	width: $lbwpFormEditorLeftColumnWidth;
	padding-right: $lbwpFormEditorScrollBarWith;
}

.frame-middle {
	width: $lbwpFormEditorMiddleColumnWidth;
}

.frame-right {
	width: calc(#{$lbwpFormEditorRightColumnWidth - $lbwpFormEditorScrollBarWith});
}

.form-editor-tab.fixed-frames {
	.frame-left, .frame-right {
		top: 40px;
		position: fixed;
		height: calc(100vh - 80px);
		overflow-y: scroll;
	}

	.frame-left {
		padding-right: 0;
	}

	.frame-right {
		right: calc(#{$lbwpFormEditorScrollBarWith} - 5px);
		padding-left: $lbwpFormEditorScrollBarWith;
	}
	.frame-middle {
		margin-left: calc(#{$lbwpFormEditorLeftColumnWidth + $lbwpFormEditorScrollBarWith});
	}

}

#editor-form-tab {
	.field-condition {
		background-color:#f5f5f5;
		border:1px solid #dedede;
		border-radius:3px;
		border-spacing:10px 3px;
		border-collapse: separate;
		margin-bottom:5px;
		// Table cell configs
		tr {
			> :nth-child(1) {
				width:25%;
				font-weight:bold;
			}
			> :nth-child(2) {
				width:70%;
				input, select {
					width:100%;
				}
			}
			> :nth-child(3) {
				width:5%;
			}
		}
	}
	.delete-condition:hover {
		cursor:pointer;
	}
}

#editor-action-tab {
	.field-conditions {
		table {
			margin-top: 20px;
			width: 100%;
			table-layout: fixed;
			border-spacing: 0;
			th {
				width: 50%;
			}
			th:nth-child(1) {
				text-align: left;
			}
			th:nth-child(2) {
				width: 20px;
				opacity: 0;
				visibility: hidden;
			}
			th:nth-child(4) {
				width: 30px;
			}

			td {
				position: relative;
				padding: 0;
				.delete {
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					margin: auto !important;
				}
			}

			td:nth-child(1) {
				select {
					width: 100%;
				}
			}

			td:nth-child(2) {
				text-align: center;
			}

			td:nth-child(3) {
				input {
					width: 100%
				}
			}
		}
	}
}

// HTML elements
.forms-item {
	$lbwpTinyMceImageUseDefaults: true;
	$lbwpTinyMceImageSizeMedium: 50%;
	$lbwpTinyMceImageSizeFull: 100%;
	$lbwpTinyMceImageSizeThumbnail: 80px;
	$lbwpTinyMceImageAlignment: true;
	$lbwpTinyMceImageLayoutLineHeight: 18px;
	$lbwpTinyMceImageLayoutFontsize: 13px;
	$lbwpTinyMceImageMarginH: 20px;
	$lbwpTinyMceImageMarginBottom: 10px;
	@import "lbwp/tinymce-images";

	img[class*="size-"] {
		height: auto;
	}

	.small-text {
		font-size: 11px;
	}

	img {

		&.size-full,
		&.size-large {
			max-width: 100%;
		}

		&.size-medium {
			max-width: 55%;
		}

		.aligncenter {
			display: block;
			margin: 0 auto;
		}
	}
}