:root{
  --aboon-addon-product-breakpoint-small: 991px;
}

// aboon addon products
.addon-upsell{

  &.addon-upsell-checkout{
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;

    @include media-breakpoint-down(sm){
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  ul{
    list-style-type: none;
    padding: 0;
    max-width: none;

    li{
      padding: .5rem 0;
      //border-bottom: 2px solid $themeColorLightGrey;
      border-bottom: 2px solid var(--aboon-addon-product-border-color);
      &:first-child{
        border-top: 2px solid var(--aboon-addon-product-border-color);
        //border-top: 2px solid $themeColorLightGrey;
      }
    }
  }

  label{
    display: flex;
    align-items: baseline;
    //align-items: center;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.75;

    > div{
      margin-right: .5rem;
      &:last-child{
        margin-right: 0;
      }
    }

    @include media-breakpoint-down(md){
      flex-wrap: wrap;
    }


  }

  .addon-checkbox{
    @include media-breakpoint-down(md){
      width: 25px;
    }
  }

  .addon-image{
    align-self: flex-start;
    height: 28px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;

    @include media-breakpoint-down(md){
      display: none;
    }


    img{
      height: auto;
      width: auto;
      max-height: 100%;
      max-width: 100%;

    }
  }

  .addon-title{
    flex-grow: 1;
    cursor: pointer;

    @include media-breakpoint-down(md){
      margin-right: 0;
      width: calc(100% - 33px);
      font-weight: bolder;
    }

  }

  .addon-detail{
    margin-left: auto;
  }

  .addon-permalink{
    @include media-breakpoint-down(md){
      order: 2;
      margin-left: auto;
    }
  }

  .addon-detail,
  .addon-price,
  .addon-checkbox{
    flex-shrink: 0;
  }

  .addon-price{
    width: 100px;
    text-align: right;

    @include media-breakpoint-down(md){
      order: 1;
      text-align: left;
      padding-left: 33px;
    }

  }

}