@import "../lib";

// Settings container atop
.settings-container {
	width:100%;
	overflow:auto;
	//border-bottom:1px solid #ccc;
	padding:0px 0px 20px 0px;
	//margin-bottom:20px;

	&.bottom {
		margin-top:20px;
		padding-top:20px;
		border-top:1px solid #ccc;
		border-bottom:0px none;
	}

	// The setting block at top
	.setting-block {
		width:70%;
		float:left;

		.setting-label {
			padding:5px 0px;
			width:100px;
			float:left;
		}

		.setting-container {
			margin-bottom: 5px;
			select {
				width:250px;
			}
		}

	}

	// The button block
	.button-block {
		float:right;
	}
}

// Hide the data container
.data-containers textarea {
	display:none;
}

// Cell options
.cell-options {
	visibility:hidden;
	a {
		cursor:pointer;
		display:inline;
	}
}

// Set colors for the table backend
$borderColor : #ddd;
$borderColorSettings : #bbb;
$cellDefaultBackground : #ffffff;
$cellPrimaryBackground : #f4f4f4;

.responsive-table {
	// Basic table settings
	border-spacing:0;
	border-top:1px solid $borderColor;
	border-left:1px solid $borderColor;

	// Make icons clickable
	.dashicons {
		cursor:pointer;
	}

	.cell-content p,
	.cell-content ul {
		margin:0px;
	}

	// The settings cell (first col)
	.row-settings-cell, .empty-settings-cell {
		max-width: 50px;
		width: 50px;
		min-width: 50px;
	}
	.row-settings-cell, .empty-settings-cell {
		border-right-color:$borderColorSettings;
	}
	.col-settings-cell, .empty-settings-cell {
		border-bottom-color:$borderColorSettings;
	}

	td {
		// Basic settings
		padding:4px;
		margin:0px;
		min-width:150px;
		background-color:$cellDefaultBackground;
		vertical-align:top;
		border-bottom:1px solid $borderColor;
		border-right:1px solid $borderColor;

		// Various border styles
		&.borderTypeRight--bd-fixed {
			border-right:1px solid $borderColor;
		}
		&.borderTypeBottom--bd-fixed {
			border-bottom:1px solid $borderColor;
		}
		&.borderTypeRight--bd-fixed-fat {
			border-right:2px solid $borderColor;
		}
		&.borderTypeBottom--bd-fixed-fat {
			border-bottom:2px solid $borderColor;
		}
		&.borderTypeRight--bd-dotted {
			border-right:1px dotted $borderColor;
		}
		&.borderTypeBottom--bd-dotted {
			border-bottom:1px dotted $borderColor;
		}
		&.borderTypeRight--bd-none {
			border-right:0px none;
		}
		&.borderTypeBottom--bd-none {
			border-bottom:0px none;
		}
		&.backgroundColor--primary {
			background-color:$cellPrimaryBackground;
		}
	}
}

.modal-container-generic {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: -10000px;
	width: 70%;
	height: 500px;
	margin: auto;
	z-index: 10010;
	border: 1px solid #333;
	padding: 10px 20px;
	background-color: #F1F1F1;
	// Primary button (save)
	.button-primary {
		position: absolute;
		top: 20px;
		right: 20px;
	}
	//todo use the same class for all these buttons
	.button-close {
		position: absolute;
		right: -40px;
		top: 0;
		background: white;
		font-size: 30px;
		height: 30px;
		width: 30px;
		line-height: 1;
		padding: 0;
	}

	h1 {
		margin-bottom: 10px;
	}

	.generic-setting {
		margin-bottom: 10px;
	}
}

// Editor modal
#editor-container {
	padding-top: 65px;
}

// Column options

// Hide unnecessary move icons (first and last)
.responsive-table {
	tr:nth-child(2) {
		.row-move-up {
			display: none;
		}
	}
	tr:last-child {
		.row-move-down {
			display: none;
		}
	}
}

.first-settings-row {
	td:nth-child(2) {
		.column-move-left {
			display: none;
		}
	}
	td:last-child {
		.column-move-right {
			display: none;
		}
	}
}
.col-settings-cell {
	text-align: center;
}

.column-settings {
	float: left;
}

.row-settings-cell {
	a[class*="row-move"] {
		padding: 5px 0;
	}
}

.settings-cell {
	padding-left: 8px;
	padding-right: 8px;

	.dashicons {
		color: #ccc;
		//@include transition(color .5s, background .5s, opacity .5s);
	}

	&:hover {
		.dashicons {
			color: #333;
			&:hover {
				color: $wpBackendColorMainHover;
			}
		}
	}

	.column-delete {
		float: right;
	}
	
	.row-settings, .row-delete {
		display: block;
	}
}