.lbwp-feedback-form{

  position: fixed;
  bottom: 0;
  left: 20px;

  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);

  border: 1px solid #c3c4c7;

  z-index: 1000;

  .lbwp-feedback-form__content{
    display: none;
  }

  &.open{
    .lbwp-feedback-form__content{
      display: block;
    }
  }

  &__header{

    padding: 1rem 12px;

    .open & {
      padding: 8px 12px;
      border-bottom: 1px solid #c3c4c7;
    }



    a{
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 1rem;

      text-decoration: none;

      &:focus,
      &:active{
        border: none;
        outline: none;
        box-shadow: none;
      }


    }

    h2{
      margin: 0;
    }


    .open &{
      .lbwp-feedback-form__close{
        display: inline-flex;
      }
    }

    .lbwp-feedback-form__close{
      display: none;
      text-decoration: none;
      align-items: center;
      justify-content: center;

      background: #f0f0f1;

      width: 20px;
      height: 20px;
      border-radius: 99px;

      padding: 2px;

    }

  }

  &__content{
    padding: 12px;

    form{
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      textarea{
        width: 100%;
        height: 150px;
      }

      input[type="submit"]{
        margin-top: 1rem;
      }

      .screenshot-label{
        display: flex;
        flex-direction: column;
      }


    }
  }



}